<nav>
    <ul>
        <li class="{% if request.path == '/' %}active{% endif %}">
            <a href="/">Home</a>
        </li>

        <li class="{% if '/categories/' in request.path %}active{% endif %}">
            <a href="/categories/">Categories</a>
        </li>

        <li class="{% if '/transactions/' in request.path %}active{% endif %}">
            <a href="/transactions/">Transactions</a>
        </li>

        <li class="{% if '/dashboard/' in request.path %}active{% endif %}">
            <a href="/dashboard/">Dashboard</a>
        </li>
    </ul>
</nav>